## Python

In [1]:
my_variable = 30

In [2]:
print(type(my_variable))

<class 'int'>

In [ ]:
import collections

my_text_variable = "my first text variable"
print(type(my_text_variable))

print(collections.Counter(my_text_variable))

<class 'str'>
Counter({' ': 3, 't': 3, 'i': 2, 'r': 2, 'e': 2, 'a': 2, 'm': 1, 'y': 1, 'f': 1, 's': 1, 'x': 1, 'v': 1, 'b': 1, 'l': 1})

In [6]:
MY_CONSTANT = 10

In [7]:
print(MY_CONSTANT)

10

### Functions

In [11]:
10 + 5
print(10 + 5)

15

In [16]:
def add_two_numbers(number_one, number_two):
    total = number_one + number_two
    return total

In [15]:
result = add_two_numbers(12, 1)
print(result)
print(type(result))

13
<class 'int'>

In [20]:
def add_two_numbers(number_one, number_two):
    total = number_one + number_two
    print(total)

In [21]:
result = add_two_numbers(12, 1)
print(result)
print(type(result))

13
None
<class 'NoneType'>

In [18]:
print(my_variable)

30

In [19]:
my_variable = 40
print(my_variable)

40

In [24]:
import math

In [ ]:
power = math.pow(2, 4)

In [27]:
print(type(power))
print(power)

<class 'float'>
16.0

In [28]:
0.1 * 3

0.30000000000000004

In [33]:
from decimal import Decimal

In [34]:
Decimal('0.1') * 3

Decimal('0.3')

In [30]:
def my_pow(number_one:int, number_two:int) -> int:
    """Raise a number to a arbitrary power.

    :param number_one: int base number
    :param number_two: int power to raise
    :return: int - number raised to power of second number

    """
    result = number_one ** number_two
    return result

In [31]:
print(my_pow.__doc__)

Raise a number to a arbitrary power.

    :param number_one: int base number
    :param number_two: int power to raise
    :return: int - number raised to power of second number

In [32]:
print(str.__doc__)

str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.

In [37]:
import random

In [42]:
random.randint(0, 99)

52

In [43]:
my_string = "today is the best"

In [47]:
my_string[1]

'o'

In [48]:
my_string[1:]

'oday is the best'

In [49]:
my_string[::-1]

'tseb eht si yadot'

In [50]:
my_string.split()

['today', 'is', 'the', 'best']

In [51]:
for item in my_string:
    print(item)

t
o
d
a
y

i
s

t
h
e

b
e
s
t

In [52]:
for item in my_string.split():
    print(item)

today
is
the
best

### fstrings

In [54]:
name = "Kemal"

In [ ]:
print(f"My name is {name}")

My name is Kemal

In [56]:
import datetime

In [66]:
now = datetime.datetime.today()
print(now)

2025-04-20 11:36:42.341351

In [67]:
print(f"{now:%d %B %Y}")

20 April 2025

### boolean

In [68]:
bool(1)

True

In [69]:
bool(0)

False

In [80]:
my_variable = 0
if my_variable:
    print("yes it is true")
else:
    print("no it is false")

no it is false

In [ ]:
my_variable = 0
print(my_variable == False)
print(my_variable is False)

True
False

In [95]:
result = 1 and 0
bool(result)

False

In [96]:
True or False

True

In [99]:
first_number = 10
second_number = 5

if first_number > second_number:
    print(f"{first_number} is greater than {second_number}")

10 is greater than 5

In [100]:
if first_number > second_number:
    print(f"{first_number} is greater than {second_number}")
else:
    print(f"{second_number} is greater than {first_number}")

10 is greater than 5

In [ ]:
if first_number > second_number:
    print(f"{first_number} is greater than {second_number}")
elif first_number == second_number:
    print(f"{first_number} is equal with {second_number}")
elif first_number < second_number:
    print(f"{second_number} is greater than {first_number}")
else:
    print("Nothing else")

10 is greater than 5

In [102]:
first_number != second_number

True

In [104]:
empty_list = []

In [105]:
example_list = [1, "string", [1, 2, 3]]

In [106]:
test_list = list()

In [107]:
example_list = list("string")
print(example_list)

['s', 't', 'r', 'i', 'n', 'g']

In [109]:
literal_list = ["string"]
print(literal_list)

['string']

In [110]:
example_list = [1, "academy", [1, 2, 3]]
example_list[0]

1

In [111]:
example_list[-1]

[1, 2, 3]

In [112]:
colors = ["yellow", "green", "red", "blue", "purple"]

In [113]:
for color in colors:
    print(color)

yellow
green
red
blue
purple

In [114]:
for index, color in enumerate(colors):
    print(f"{index}: {color}")

0: yellow
1: green
2: red
3: blue
4: purple

In [133]:
cubes_to_1000 = []

In [134]:
for number in range(1, 11):
    cubes_to_1000.append(number**3)

In [135]:
print(cubes_to_1000)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [136]:
cubes_to_1000.pop()

1000

In [137]:
print(cubes_to_1000)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

### Tuples & Dictionaries

In [138]:
my_tuple = tuple()
my_tuple = tuple([10])

In [139]:
print(my_tuple)

(10,)

In [140]:
animal_colors = {
    "cat": "yellow",
    "dog": "black",
    "horse": "brown"
}

In [141]:
animal_colors_tuple = tuple(animal_colors)
print(animal_colors_tuple)

('cat', 'dog', 'horse')

In [142]:
animal_colors["dog"]

'black'